/* CSS file for index.html */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto+Serif:wght@200&display=swap');

body {
    margin: 0;
    background-color: #ffffff;
}
h1 {
    margin: 0;
}
/* Regular Mobile Scaling */
@media only screen and (min-width: 10px) {
    .login-header {
        margin: 0;
        padding-top: 4%;
        padding-bottom: 4%;
        background-color: #1b97c0;
        color: white;
        font-size: 125%;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
    }
    #container {
        margin: 0;
        padding: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: #ffffff;
    }
    .login {
        width: 85%;
        margin: 5%;
        margin-top: 5%;
        border-radius: 10%;
        border: 2px solid #589ebe;
        padding-top: 3%;
        padding-bottom: 3%;
        background-color: #e7e7e7;
        color: black;
        font-size: 125%;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
    }
    .login img {
        padding-bottom: 2%;
        width: 40%;
        height: auto;
    }
    .login label {
        font-size: 110%;
        font-family: 'Open Sans', sans-serif;
    }
    .login input {
        font-family: 'Open Sans', sans-serif;
        font-size: 100%;
        text-align: center;
        margin-bottom: 2.5%;
    }
    .big_button {
        margin: 5%;
        margin-bottom: 2%;
        color: white;
        font-size: 130%;
        border: 5px solid #1d8cb8;
        border-radius: 10%;
        background-color: #1d8cb8;
    }
    .big_button:hover {
        background-color: #199ed3;
        border: 6px solid #199ed3;
        cursor: pointer;
    }
    .login h2 {
        margin: 4%;
    }
    .login h4 {
        margin: 2%;
    }
    .footer {
        background-color: #202020;
        font-family: arial;
        position: fixed;
        width: 100%;
        bottom: 0;
    }
    .copyright {
        padding-top: 2%;
        padding-bottom: 1.5%;
        width: 100%;
        text-align: center;
        margin: 0 auto;
        color: #b3b3b3;
        font-size: 95%;
    }
    .copyright a {
        color: #4096e6;
        text-decoration: none;
    }
}

@media only screen and (min-width: 1100px) {
    .login-header {
        padding-top: 1%;
        padding-bottom: 1%;
    }
    .login {
        width: 35%;
        margin-top: 2%;
    }
    .login img {
        width: 30%;
        height: auto;
    }
    .copyright {
        padding-top: .5%;
        padding-bottom: .3%;
        width: 80%;
    }
}

/* Desktop Scaling */
@media only screen and (min-width: 1300px) {
    .login-header {
        padding-top: 1%;
        padding-bottom: 1%;
    }
    .login {
        width: 25%;
        margin-top: 2%;
    }
    .login img {
        width: 30%;
        height: auto;
    }
    .copyright {
        padding-top: .5%;
        padding-bottom: .3%;
        width: 80%;
    }
}